:root {
 --main-bg-color: hsl(233, 47%, 7%);
 --card-bg-color: hsl(244, 38%, 16%);
 --heading-color: hsl(0, 0%, 100%);
 --accent-color: hsl(277, 64%, 61%);
 --main-paraph-color: hsla(0, 0%, 100%, 0.75);
 --stat-heading-color: hsla(0, 0%, 100%, 0.6);
 font-size: 15px;   
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page__container {
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 1.4rem;
}

.card__container {
    background-color: var(--card-bg-color);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: clamp(22rem, 80vw, 35rem);
    border-radius: 7px;
}

.img__mobile {
    width: 100%;
}

.img__desktop {
    display: none;
}

.infos__container {
    margin: 2.5rem 0;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.infos__title {
    color: var(--heading-color);
    font-size: 2rem;
}

.infos__title strong {
    color: var(--accent-color);
}

.infos__description {
    max-width: 28ch;
    color: var(--main-paraph-color);
    line-height: 1.6rem;
}

.stats__container {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-top: 1.5rem;
}

.stats__value {
    color: var(--heading-color);
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: .5rem;
}

.stats__type {
    color: hsla(0, 0%, 100%, 0.6);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .page__container {
        padding: 0 5rem;
    }

    .card__container {
        flex-direction: row;
        align-items: stretch;
        justify-content: space-between;
        gap: 0rem;
        width: auto;
        min-width: fit-content;
    }

    .card__container > * {
        flex: 1 1 ;
    } 

    .img__mobile {
        display: none;
    }

    .img__desktop {
        display: block;
        /* height: 100%; */
        width: 50%;
        object-fit: cover;
        order: 2;
    }

    .infos__container {
        align-self: center;
        align-items: start;
        text-align: left;
        padding: 0 1rem;
    }

    .infos__title {
        max-width: none;
    }

    .infos__description {
        max-width: none;
 
    }

    .stats__container {
        flex-direction: row;
        align-items: flex-start;
        justify-self: start;
    }



}